body {
    margin: 0 0 40px 40px; /*Домашку делал до того как узнал, что прописывать это свойство в body не желательно, почему я не понял*/
    font-family: "Roboto Thin", sans-serif;
}

.logo span {
    color: black;
}

.logo {
    color: #4bcaff;
    font-size: 80px;
    line-height: 30px;
    text-align: left;
}

a {
    text-decoration: none;
}

.up-nav {
    background: #35444F;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    max-width: 1280px;
}

.up-nav-a {
    color: white;
    margin-right: 40px;
}

.up-nav-a:hover {
    background: #222F3A;
    padding: 20px 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

ul {
    list-style-type: none;
    border: 1px solid grey;
    margin: 55px auto;
    /*padding: 0 20px;*/
    display: inline-block;
    width: 300px;
    padding: 0;
    /*height: 380px;*/
}

.r-bar {
    font-size: 27px;
    /*margin: 40px 50px 0 0 ;*/
    /*line-height: 77px;*/
    padding: 20px;

}

.r-bar:hover {
    background-color: #DBDBDB;
    display: block;
}

.kobila-img {
    border: 1px solid grey;
    margin: 55px 0 0 47px;
    display: inline-block;
    vertical-align: top; /*я игрался с этим значением, как это работает я не понял, откуда я взял это свойство я тоже не помню. Мне не ясно почему когда я убираю это свойство блок с ссылками слева "падает" ниже блока с картинкой Андрей 27 годиков.*/
    padding: 75px 302px 75px 302px;

}

.text {
    /*border: 1px solid grey;*/
    width: 924px;
    margin: 40px 0 30px 354px;
    font-size: 19px;
}

.down-nav {
    width: 100%;
    max-width: 1280px;
    background: #b4b7ba;
    display: inline-block;
    padding: 17px 0 17px 0;


}

.down-nav-a {
    vertical-align: middle;
    margin-left: 30px;
    color: black;
    font-size: 28px;
    padding-bottom: 5px;


}

.down-nav-p {
    display: inline-block;
    margin: 0 0 0 110px;
    font-size: 24px;

}

.down-nav-a:hover {
    color: #5488af;
    border-bottom: 2px #5488af solid;
    /*text-decoration: underline;*/


}