.up-button{
    text-align: center;

}

.header-link{
text-transform: uppercase;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: red;
    margin:40px;
    line-height: 2.7;
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
}

.center{
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 40px 90px;
}

.red-button{
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: red;
    padding: 16px 60px;
    border: none;
    border-radius: 5px;
    margin: 30px;
}

footer{
    font-family: Montserrat, sans-serif;
    text-align:right;
    margin: 0 180px;
    font-size: 18px;
    font-weight: bolder;
}

body {
    margin: 0;

}

img{
    width: 100%;

}